<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color: var(--clr-h1-and-bold);
      text-decoration: none;
    }

    ul.link a:hover,
    a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">

    <div>
      <h3>Education</h3>
      <div>
        <p><i class="fa-solid fa-graduation-cap"></i> {{site.data.content.developer.university}}</p>
        <p>{{site.data.content.developer.major}}</p>
      </div>
    </div>

    <div>
      <h3>Languages</h3>
      <p><i class="fa-solid fa-language"></i> {{site.data.content.developer.languages}}</p>
    </div>

    <div>
      <h3>Contact</h3>
      {%- for platform in site.sidebar %}
      <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
      <li><a href="{{ platform.link }}" >{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
      {%- endfor %}
    </div>


  </ul>
</div>
